body{
    background-color: #244d72;
}
h1{
    font-family: 'Playfair Display', serif !important;
    text-shadow: none !important;
}
h2{
    font-family: 'Playfair Display', serif !important;
    text-shadow: none !important;
}
h3{
    font-family: 'Raleway', sans-serif !important;
    text-shadow: none !important;
}
h4{
    font-family: 'Raleway', sans-serif !important;
    text-shadow: none !important;
}
h5{
    font-family: 'Raleway', sans-serif !important;
    text-shadow: none !important;
}
h6{
    font-family: 'Raleway', sans-serif !important;
    text-shadow: none !important;
    text-transform: none;
    font-weight: 500;
}
p{
    font-family: 'Raleway', sans-serif !important;
}

.text-blue{
    color: #244d72;
}
.text-yellow{
    color: #f2b12f;
}
.text-white{
    color: #ffffff;
}

.button{
    background-color: #244d72;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Raleway', sans-serif !important;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 14px;
    transition-duration: 0.15s;
    text-decoration: none;
    margin-right:20px;
    margin-bottom: 20px;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    box-shadow: none;
}
.button:hover{
    box-shadow: none;
    transform: translate(0px, 0px);
    background-color: #0e5876;
}
.button:active{
    box-shadow: none;
    transform: translate(0px, 0px);
}

.background-default{
    background: none;
    background-color: white;
}

.background-blue{
    background: none!important;
    background-color: #244d72 !important;
}
.background-blue .button{
    background-color: white;
    color: #0092d6;
}
.background-blue .button:hover{
    background-color: #f2b12f;
    color: white;
}
.background-blue .button:active{
    background-color: #b4a03b;
}

.background-yellow{
    background-color: #f2b12f;
    color: #2A2829;
}
.background-yellow .button{
    background-color: #2A2829;
    color: #f2b12f;
}
.background-yellow .button:hover{
    background-color: #244d72;
    color: white;
}
.background-yellow .button:active{
    background-color: #0b4f6a;
}

.footer{
    background: none!important;
    background-color: #244d72 !important;
}

.menubar{
    background-color: white;
    box-shadow: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
}

.menu-items a{
    height: 60px;
    color: black;
}
.menu-items a::before{
    background-color: #0092d6;
}
.mobilemenutoggle{
    color: black !important;
    margin: 0!important;
}
.navbar-scroll{
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.logo-mobile{
    opacity: 1!important;
}
.logo-mobile-light{
    opacity: 0!important;
}
.menu-items a{
    color: #1f1f1f !important;
    height: 100px;
}
.menu-items a::before{
    background-color: #244d72 !important;
    height: 3px;
}
.menu-items a li{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.menu-items a .guest-login{
    font-family: 'Raleway', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: normal;
    background-color: #244d72 !important;
    color: white!important;
    
}
@media (max-width : 991px){
    .menu-items a li{
        font-size: 12px!important;
        letter-spacing: 0px;
    }
}

.menubarTransparent .menu-items a::before{
    background-color: #244d72 !important;
    height: 3px;
}
.classy-menu-spacer-small{
    height: 60px;
}
.classy-menu-spacer-large{
        height: 100px;
    }
@media (max-width : 767px){
    .classy-menu-spacer-large{
        height: 60px;
    }
}
.mobilemenutoggle{
    font-family: 'Raleway', sans-serif !important;
    text-transform: uppercase;
    font-size: 12px!important;
    letter-spacing: 1px;
    font-weight: lighter!important;
}
.pushy{
    background: none!important;
    background-color: #244d72 !important;
}
.pushy-link{
    font-family: 'Playfair Display', serif !important;
}
.pushy-content ul .active{
    background-color: white;
    color: #244d72;
}

.footer-menu li{
    text-transform: none;
    font-weight: 100;
}

.footer-darkblue{
    background-color: #003852!important;
}

label{
    font-family: 'Raleway', sans-serif !important;
    font-weight: normal;
    font-size: 16px;
    text-transform: none;
}
.custom-form-control{
    border: none;
    background-color: whitesmoke;
    outline: none;
    box-shadow: none;
    padding: 15px;
    font-family: 'Raleway', sans-serif !important;
    transition-duration: 0.15s!important;
    color: #2A2829;
}
.custom-form-control:focus{
    box-shadow: none;
}

.custom-form-select{
    box-shadow: none;
    font-family: 'Raleway', sans-serif !important;
}
.custom-form-select:focus{
    box-shadow: none;
}

.button-search{
    margin: 0;
    margin-top: 32px;
    margin-right: 0;
    width: 100%;
    background-color: #f2b12f !important;
    color: #2A2829 !important;
    font-size: 15px;
    padding: 14px;
    height: 54px;
}
.button-search:hover{
    background-color: #d3951a !important;
}

.property{
    border-radius: 0px;
    box-shadow: none;
}

.property .main-img{
    border-radius: 0px;
}
.property .second-img{
    border-radius: 0px;
}
.property .third-img{
    border-radius: 0px;
}
.property .details{
    border-radius: 0px;
}
.property .details .details-icons li{
    font-family: 'Raleway', sans-serif !important;
    font-weight: normal;
}

.property:hover{
    transform: translate(0px, 0px);
    box-shadow: none;
}
.property:active{
    transform: translate(0px, 0px);
    box-shadow: none;
}

.property .infobadge{
    border-radius: 0px;
    background-color: black;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-transform: none;
    color: white;
}
.property .infobadge-price{
    background-color: #f2b12f;
    color: rgba(42, 40, 41, 0.7) !important;
}
.property .infobadge-photos{
    background-color: rgba(0, 0, 0, 0.3);
}

.propertyInfoBadge{
    border-radius: 0;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 200;
}
.propertyInfoBadge-Price{
    background-color: #f2b12f;
    color: rgba(42, 40, 41, 0.9) !important;
}

.bookingBox{
    border-radius: 0px;
    box-shadow: none;
    background-color: #f2b12f;
}
.bookingBox .title{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 1px;
    color: #2a2829;
}
.bookingBox ul li{
    font-family: 'Raleway', sans-serif !important;
    letter-spacing: 0px;
    font-weight: 400;
    border-radius: 0px;
}

.propertyFeatures li span{
    border: 1px solid #c4c4c4;
    font-family: 'Raleway', sans-serif !important;
    font-size: 14px;
    color: #9d9d9d;
    border-radius: 4px;
}

.button-modal-done{
    background-color: #f2b12f !important;
    color: #2A2829 !important;
}

.checkmark{
    border-radius: 0;
}
.new-checkbox-container input:checked ~ .checkmark {
    background-color: #244d72 !important;
}
.modal-content{
    border-radius: 0 !important;
}

.propertyTitleBlock{
    border-radius: 0;
}
.propertyTitleBlock h1{
    margin-bottom: 10px;
}
.propertyTitleBlock p{
    margin: 0;
}

.webdescription{
    font-family: 'Raleway', sans-serif !important;
}

.mjs-heart{
    color: #f2b12f;
}

.custom-outline-select{
    background-color: transparent !important;
    font-size: 16px;
    font-family: 'Raleway', sans-serif !important;
    letter-spacing: 0px;
    font-weight: 300;
    border-radius: 5px;

}
.custom-outline-select:hover{
    transform: translate(0px, 0px);
    box-shadow: none;
}

.custom-outline-select:disabled{
    cursor: not-allowed !important;
}

.property-actions{
    border-radius: 0;
    box-shadow: none;
    background-color: #244d72;
    padding: 40px;
    color: white;
}
.propertyAction{
    background: transparent;
    color: white;
    border-color: white;
    font-family: 'Raleway', sans-serif !important;
    font-weight: normal;
    text-transform: none;
}
.propertyAction:hover{
    transform: translate(0px, 0px);
    box-shadow: none;
    background-color: white;
    color: #2A2829;
}
.propertyAction-book{
    background-color: #f2b12f;
    color: #2A2829;
}
.propertyAction-book:hover{
    background-color: white;
}

@media (max-width : 767px){
    .property-actions{
        background-color: transparent;
        padding: 15px;
        padding-top: 50px;
        box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.0);
        border-radius: 10px;
        transform: translate(0px, 0px);
        color: #2A2829;
    }
    .propertyAction{
        border: 1px solid #2A2829;
        color: #2A2829;
    }
    .propertyAction:hover{
        background-color: #2A2829;
        color: white;
    }
    .propertyAction-book{
        border: none;
    }
}