button{
    border: 0;
    outline: none!important;
}
button:active{
    outline: none!important;
}
button:hover{
    cursor: pointer;
}
.button{
    background-color: #0092d6;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0px;
    font-weight: 300;
    transition-duration: 0.15s;
    text-decoration: none;
    margin-right:20px;
    margin-bottom: 20px;
    display: inline-block;
    outline: none;
    border-radius: 100px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.button-small{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}
.button:hover{
    text-decoration: none;
    color: white;
    background-color: #0092d6;
    outline: none;
    transform: translate(0px, -2px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}
.button:active{
    outline: none;
    background-color: #0080bc;
    transform: translate(0px, 2px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.button-outline{
    background: transparent !important;
    border: 1px solid white;
    color: white !important;
    box-shadow: none;
}

.custom-outline-select{
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent !important;
    border: 1px solid white;
    color: white !important;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0px;
    font-weight: 300;
    border-radius: 50px;
    outline: none!important;
    transition-duration: 0.15s;
    width: 100%;
    background-image: url(/assets/dropdownArrow.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px),0;

}
.custom-outline-select:hover{
    transform: translate(0px, -2px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

.custom-outline-select:disabled{
    cursor: not-allowed !important;
}

.button-text{
    background:none;
    color: inherit;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0px;
    font-weight: 300;
    transition-duration: 0.15s;
    text-decoration: none;
    position: relative;
    margin-right:20px;
    margin-bottom: 20px;
    display: inline-block;
    outline: none;
}
.button-text::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 1px;
    height: 1px;
    width: calc(100% - 1px);
    background-color: #2A2829;
    transform-origin: left top;
    transform: scale(0,1);
    transition-duration: 0.2s;
}
.button-text:hover{
    text-decoration: none;
    outline: none;
}
.button-text:hover:before{
    transform: scale(1,1);
}
.button-text:active{
    outline: none;
}

a{
    outline: none;
}

label{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.custom-form-control{
    border: none;
    background-color: whitesmoke;
    outline: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    font-family: 'Roboto Slab', serif;
    transition-duration: 0.15s!important;
    color: #2A2829;
}
.custom-form-control::placeholder{
    color: #2A2829;
}
.custom-form-control::-ms-input-placeholder{
    color: #2A2829;
}
.custom-form-control:hover{
    cursor: auto;
}
.custom-form-control:focus{
    background-color: whitesmoke;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.custom-form-control:disabled{
    cursor: not-allowed !important;
}

.custom-form-select{
    background-image: url(/assets/dropdownArrowDark.png);
    background-repeat: no-repeat;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-position: calc(100% - 15px),0;
    height: 54px!important;
    border: none;
    background-color: whitesmoke;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    color: #2A2829;
    font-family: 'Roboto Slab', serif;
}
.custom-form-select:hover{
    cursor: pointer !important;
}
.custom-form-select:focus{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.featureList{
    list-style: none;
    margin: 0;
    padding: 0;
}
.featureList li{
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    margin: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width : 500px){
    .featureList li{
        display: block;
        border: 0;
        margin: 0;
        padding: 5px;
    }
}

.col2box{
    padding: 50px;
    border-radius: 10px;
}

.modal-content{
    border-radius: 10px!important;
    color: black!important;
    border: none;
}
.modal-header{
    border-top-left-radius: 10px!important;
    border-top-right-radius: 10px!important;
    background-color: white;
    border-bottom: 0;
    color: #2A2829;
    padding: 50px
}
.modal-body{
    padding: 50px;
}
.modal-footer{
    border: 0;
}

.modal-title{
    display: block;
}

.small-divider{
    background-color: rgba(0, 0, 0, 0.2);
    width: 30%;
    min-width: 100px;
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.new-checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: none;
}

.optionsCheckbox:disabled{
    cursor: not-allowed !important;
}

/* Hide the browser's default checkbox */
.new-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    border-radius: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.new-checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.new-checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.new-checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.new-checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (min-width: 768px) {
    .collapse.dont-collapse-desktop {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

@media (min-width: 768px) {
    #searchOptionsButton{
        display: none !important;
    }
}

.hover-point:hover{
    cursor: pointer!important;
}

option{
    color: black!important;
    background-color: white!important;
    font-family: sans-serif!important;
}
.custom-disabled{
    opacity: 0.7!important;
}