.GraphiteFooter{
    position: fixed;
    bottom: 0px;
    left:0;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    padding:10px;
    z-index:9999;
    visibility: hidden;
}
.GraphiteFooterButton{
    position: fixed;
    bottom: 0px;
    left:0;
    background-color:rgba(0, 0, 0, 0.8);
    padding:2px;
    z-index:9999;
    font-size: 8pt;
    border-top-right-radius: 5px;
    visibility: visible;
}
.GraphiteFooterDashboard{
    display: none;
    margin-left:3px;
}
.GraphiteFooterLinkAction{
    display: none;
}

.GraphiteFooterButton:hover{
}

.GraphiteFooterButton:hover .GraphiteFooterDashboard, .GraphiteFooterButton:hover .GraphiteFooterLinkAction{
    display: inline-block;
}

.GraphiteFooterItem{
    color: white;
    font-family: sans-serif;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    padding:5px;
    display:inline-block;
    margin:0;
    border-radius:3px;
}
.GraphiteFooterItem:hover{
    background-color: #ffffff;
    color: #000000;
}
.GraphiteFooterLink{
    text-decoration:none;
    margin:0;
}
.GraphiteFooterLogo{
    color: white;
    padding:5px;
    display:inline-block;
    margin:0;
    font-family: sans-serif;
    border-right: 1px solid white;
    padding-right:10px;

}