@charset "UTF-8";

@font-face {
  font-family: "mjs-font";
  src:url("/fonts/mjs-font.eot");
  src:url("/fonts/mjs-font.eot?#iefix") format("embedded-opentype"),
    url("/fonts/mjs-font.woff") format("woff"),
    url("/fonts/mjs-font.ttf") format("truetype"),
    url("/fonts/mjs-font.svg#mjs-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mjs-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="mjs-"]:before,
[class*=" mjs-"]:before {
  font-family: "mjs-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mjs-mjs:before {
  content: "\6d";
}
.mjs-heart:before {
  content: "\61";
}
.mjs-graphite:before {
  content: "\6a";
}
