.menubar{
    background-color: white;
    height: 100px;
    padding: 0;
    transition-duration: 0.2s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0);
}
.menubar .container{
    padding: 0;
}
.menubar .logo-large{
    height: auto;
    position: absolute;
    transition-duration: 0.2s;
    z-index: 10;
    display: none;
}
.menubar .logo-mobile{
    opacity: 100;
    height: 100px;
    padding: 20px;
    position: absolute;
    transition-duration: 0.2s;
    z-index: 9;
}
.menubar .logo-mobile-light{
    opacity: 0;
    height: 100px;
    padding: 20px;
    position: absolute;
    transition-duration: 0.2s;
    z-index: 9;
}
.menubar .mobilemenutoggle{
    float: right;
    display: none;
    height: 59px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
    background: transparent;
    color: black;
}
.menu-spacer{
    height: 100px;
    width: 100%;
}
.menu-items{
    transition-duration: 0.2s;
    margin-bottom: 0;
}
.menu-items a{
    display: inline-block;
    height: 100px;
    box-sizing: border-box;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.2s;
}
.menu-items a:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.menu-items a::before{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background-color: #0092d6;
    transform-origin: left top;
    transform: scale(1,0);
    transition-duration: 0.2s;
}
.menu-items a li{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
    color: inherit;
    position: relative;
    top: calc(50% - 13px);
}
.menu-items a .guest-login{
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 14px;
    background-color: #0092d6;
    color: white;
    
}
.menu-items .active::before{
    transform: scale(1,1);
}
.menu-items .active{
    transform: scale(1,1);
}

.menubarTransparent{
    background: transparent;
    height: 60px;
}
.menubarTransparent .logo-large{
    display: block;
}
.menubarTransparent .logo-mobile{
    opacity: 0;
    height: 60px;
    padding: 5px;
}
.menubarTransparent .menu-items a{
    color: white;
    height: 60px;
}
.menubarTransparent .menu-items a .guest-login{
    background-color: white;
    color: #0b3b52;
}
.menubarTransparent .menu-items a::before{
    background-color: white;
}

@media (max-width : 991px){
    .menubar .menu-items a li{
        font-size: 14px;
    }
    .menubar .menu-items a{
        padding-left: 5px;
        padding-right: 5px;
    }
    .menubar .mobilemenutoggle{
        display: inline-block;
        color: black;
        margin-top: 20px;
    }
    .menubarTransparent .mobilemenutoggle{
        display: inline-block;
        color: white;
    }
}
@media (max-width : 767px){
    .menubar{
        height: 60px;
    }
    .menu-spacer{
        height: 60px;
    }
    .menubar .logo-large{
        display: none;
    }
    .menubar .logo-mobile{
        opacity: 1;
        height: 60px;
        padding: 5px;
    }
    .menubarTransparent .logo-mobile-light{
        opacity: 1;
        height: 60px;
        padding: 5px;
    }
    .menubarTransparent .logo-mobile{
        opacity: 0;
    }
    .menubar .mobilemenutoggle{
        display: inline-block;
        color: black;
        margin: 0;
    }
    .menubarTransparent .mobilemenutoggle{
        display: inline-block;
        color: white;
    }
}
@media (max-width : 575px){
    .menubar{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.navbar-scroll{
    height: 60px;
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.navbar-scroll .menu-items a{
    height: 60px;
    color: black;
}
.navbar-scroll .menu-items a .guest-login{
    background-color: #0092d6;
    color: white;
    
}
.navbar-scroll .menu-items a::before{
    background-color: #0092d6;
}
.navbar-scroll .logo-large{
    margin-top: -200px;
}
.navbar-scroll .logo-mobile{
    opacity: 1;
    height: 60px;
    padding: 5px;
}
.navbar-scroll .logo-mobile-light{
    opacity: 0;
}
.navbar-scroll .mobilemenutoggle{
    color: black;
}

.pushy{
    background-color: #0092d6!important;
    background-image: linear-gradient(rgb(255, 255, 255) 60%, rgba(255,255,255,0) 0%);
    background-position: 193px 0px;
    background-size: 3px 20px;
    background-repeat: repeat-y;
    
}
.pushy-content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pushy-link{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: white;
}
.pushy-content ul .active{
    background-color: #ffd001;
}
.pushy-link a{
    color: inherit;
}
.pushy-link a:hover{
    color: inherit;
}