body{
    color: #2A2829;
}
h1{
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
}
h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
h3{
    font-family: 'Roboto Slab', serif;
}
h4{
    font-family: 'Roboto Slab', serif;
}
h5{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h6{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p{
    font-family: 'Roboto Slab', serif;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
p a{
    text-decoration: underline;
}

ol{
    font-family: 'Roboto Slab', serif;
    padding-left: 20px;
}
ol li{
    margin-bottom: 10px;
}
.mobilemenutoggle{
    border: none;
}

.menubar{
    background-color: white;
    height: 100px;
    padding: 0;
    transition-duration: 0.2s;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0);
}
.menubar .container{
    padding: 0;
}
.menubar .logo-large{
    height: auto;
    position: absolute;
    transition-duration: 0.2s;
    z-index: 10;
    display: none;
}
.menubar .logo-mobile{
    opacity: 100;
    height: 100px;
    padding: 20px;
    position: absolute;
    transition-duration: 0.2s;
    z-index: 9;
}
.menubar .logo-mobile-light{
    opacity: 0;
    height: 100px;
    padding: 20px;
    position: absolute;
    transition-duration: 0.2s;
    z-index: 9;
}
.menubar .mobilemenutoggle{
    float: right;
    display: none;
    height: 59px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
    background: transparent;
    color: black;
}
.menu-spacer{
    height: 100px;
    width: 100%;
}
.menu-items{
    transition-duration: 0.2s;
    margin-bottom: 0;
}
.menu-items a{
    display: inline-block;
    height: 100px;
    box-sizing: border-box;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.2s;
}
.menu-items a:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.menu-items a::before{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background-color: #0092d6;
    transform-origin: left top;
    transform: scale(1,0);
    transition-duration: 0.2s;
}
.menu-items a li{
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
    color: inherit;
    position: relative;
    top: calc(50% - 13px);
}
.menu-items a .guest-login{
    background-color: #0092d6;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 14px;
    color: white;
    
}
.menu-items .active::before{
    transform: scale(1,1);
}
.menu-items .active{
    transform: scale(1,1);
}

.menubarTransparent{
    background: transparent;
    height: 60px;
}
.menubarTransparent .logo-large{
    display: block;
}
.menubarTransparent .logo-mobile{
    opacity: 0;
    height: 60px;
    padding: 5px;
}
.menubarTransparent .menu-items a{
    color: white;
    height: 60px;
}
.menubarTransparent .menu-items a::before{
    background-color: white;
}

@media (max-width : 991px){
    .menubar .menu-items a li{
        font-size: 14px;
    }
    .menubar .menu-items a{
        padding-left: 5px;
        padding-right: 5px;
    }
    .menubar .mobilemenutoggle{
        display: inline-block;
        color: black;
        margin-top: 20px;
    }
    .menubarTransparent .mobilemenutoggle{
        display: inline-block;
        color: white;
    }
}
@media (max-width : 767px){
    .menubar{
        height: 60px;
    }
    .menu-spacer{
        height: 60px;
    }
    .menubar .logo-large{
        display: none;
    }
    .menubar .logo-mobile{
        opacity: 1;
        height: 60px;
        padding: 5px;
    }
    .menubarTransparent .logo-mobile-light{
        opacity: 1;
        height: 60px;
        padding: 5px;
    }
    .menubarTransparent .logo-mobile{
        opacity: 0;
    }
    .menubar .mobilemenutoggle{
        display: inline-block;
        color: black;
        margin: 0;
    }
    .menubarTransparent .mobilemenutoggle{
        display: inline-block;
        color: white;
    }
}
@media (max-width : 575px){
    .menubar{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.navbar-scroll{
    height: 60px;
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.navbar-scroll .menu-items a{
    height: 60px;
    color: black;
}
.navbar-scroll .menu-items a::before{
    background-color: #0092d6;
}
.navbar-scroll .logo-large{
    margin-top: -200px;
}
.navbar-scroll .logo-mobile{
    opacity: 1;
    height: 60px;
    padding: 5px;
}
.navbar-scroll .logo-mobile-light{
    opacity: 0;
}
.navbar-scroll .mobilemenutoggle{
    color: black;
}

.pushy{
    background-color: #0092d6!important;
    background-image: linear-gradient(rgb(255, 255, 255) 60%, rgba(255,255,255,0) 0%);
    background-position: 193px 0px;
    background-size: 3px 20px;
    background-repeat: repeat-y;
    
}
.pushy-content ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pushy-link{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    color: white;
}
.pushy-content ul .active{
    background-color: #ffd001;
}
.pushy-link a{
    color: inherit;
}
.pushy-link a:hover{
    color: inherit;
}

.footerlogo{
    width: 80%;
    padding: 0px;
}

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to right, white 60%, rgba(255,255,255,0) 0%);
    background-position: 0px 3px;
    background-size: 20px 3px;
    background-repeat: repeat-x;
}

.footer-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu li{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.footer-small-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-small-menu li{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 20px;
}
.footer-small-menu li i{
    font-size: 30px;
}
.footer-small-menu li:last-of-type{
    margin: 0;
}
.footer-small-menu li a:hover{
    text-decoration: underline;
}
.footer .credit{
    padding-top: 50px;
}
.footer .card-logos{
    width: 80%;
    max-width: 200px;
}
.footer-darkblue{
    background: none;
    background-color: #00547b;
    color: white;
}

@media (max-width : 767px){
    .footerlogo{
        padding: 0px;
        width: 200px;
    }
    .footer .credit{
        padding-top: 50px;
    }
}

.background-default{
    background-color: white;
    color: #2A2829;
}

.background-secondary{
    background-color: #f7f7f7;
    color: #2A2829;
}

.background-blue{
    background-color: #0092d6;
    color: white;
}

.page-section{
    padding-top: 100px;
    padding-bottom: 100px;
}