:root{
    --background-default: white;
    --foreground-default: #2A2829;

    --background-blue: #0092d6;
    --foreground-blue: white;

    --background-yellow: #ffce00;
    --foreground-yellow: #2A2829;
}

#loader{
    height: 100%;
    width: 100%;
    position:fixed;
    background-color: white;
    z-index: 99999;
}
#loader .artwork{
    position: absolute;
    left: calc(50% - 106px);
    top: calc(50% - 96px);
    opacity: 0;
    transition-duration: 0.15s;
}
#loader .artwork img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#loader .artwork{
    opacity: 1;
}

body{
    background-color: white;
}

.background-default{
    background-color: white;
    color: #2A2829;
}

.background-secondary{
    background-color: #f7f7f7;
    color: #2A2829;
}

.background-blue{
    background-color: #0092d6;
    color: white;
}
.background-blue .button{
    background-color: white;
    color: #0092d6;
}
.background-blue .button:hover{
    background-color: #ffce00;
    color: white;
}
.background-blue .button:active{
    background-color: #c9a200;
}

.background-yellow{
    background-color: #ffce00;
    color: #2A2829;
}
.background-yellow .button{
    background-color: #2A2829;
    color: #ffce00;
}
.background-yellow .button:hover{
    background-color: #0092d6;
    color: white;
}
.background-yellow .button:active{
    background-color: #006a9b;
}

.background-stitch-blue{
    background-image: linear-gradient(to right, #0092d6 60%, rgba(255,255,255,0) 0%);
    background-position: 0px 3px;
    background-size: 20px 3px;
    background-repeat: repeat-x;
}
.background-stitch-yellow{
    background-image: linear-gradient(to right, #ffce00 60%, rgba(255,255,255,0) 0%);
    background-position: 0px 3px;
    background-size: 20px 3px;
    background-repeat: repeat-x;
}
.background-stitch-white{
    background-image: linear-gradient(to right, #ffffff 60%, rgba(255,255,255,0) 0%);
    background-position: 0px 3px;
    background-size: 20px 3px;
    background-repeat: repeat-x;
}

.text-blue{
    color: #0092d6;
}
.text-yellow{
    color: #ffce00;
}
.text-white{
    color: #ffffff;
}

.button-fb{
    background-color: #3b5998;
}
.button-fb:hover{
    background-color: #2e4880;
}
.button-tw{
    background-color: #1da1f2;
}
.button-tw:hover{
    background-color: #1b82c1;
}

.hero{
    height: calc(100vh);
    min-height: 750px;
    background-size: cover!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    width: 100%;
    position: relative;
    color: white;
}
.hero .container,.hero .row{
    height: 100%;
}
.hero h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    line-height: 70px;
}
.hero p{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 300;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.hero .button{
    background-color: white;
    color: black;
    margin-left: 10px;
    margin-right: 10px;

}
.hero .button:hover{
    background-color: white;
    color: black;
}
.hero .button-text{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.hero .button-text:before{
    background-color: white;
}

@media (max-width : 1199px){
    .hero h1{
        font-size: 45px;
        line-height: 50px;
    }
    .hero p{
        font-size: 20px;
    }
}

@media (max-width : 767px){
    .hero{
        height: calc(100vh);
        min-height: 500px;
    }
    .hero h1{
        font-size: 38px;
        line-height: 60px;
    }
    .hero p{
        font-size: 18px;
    }
}

.hero-50{
    height: calc(50vh);
    min-height: 500px;
}
.hero-75{
    height: calc(75vh);
}

.hero-pagetitle{
    height: 300px;
    min-height: 300px;
}

.hero-blogTitle{
    height: calc(60vh - 100px);
}
.hero-blogTitle h1{
    font-size: 50px;
}
.hero-blogTitle h4{
    font-weight: 200;
}
@media (max-width : 767px){
    .hero-blogTitle h1{
        font-size: 30px;
    }
}

.page-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-title{
    padding-top: 50px;
    padding-bottom: 50px;
}
.page-title h1{
    font-size: 50px;
    line-height: 50px;
}
@media (max-width : 767px){
    .page-title h1{
        font-size: 30px;
        line-height: 30px;
    }
}

.map-section{
    padding: 0;
}
.map-section #map{
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 600px;
}
@media (max-width : 767px){
    .map-section #map{
        height: 400px;
    }
}

.section-pullup{
    margin-top: -100px;
}

.half-half{
    padding: 0;
}
.half-half .row{
    padding: 0;
    margin: 0;
}
.half-image-container{
    min-height: 600px;
    width: 100%;
    height: 100%;
    background-position: center!important;
    background-size: cover!important;
}
.half-text-container{
    width: 100%;
    padding: 150px;
}
.half-mobile-image{
    width: 100%;
    display: none;
    margin-top: 50px;
}

@media (max-width : 1300px){
    .half-text-container{
        padding: 100px;
    }
}
@media (max-width : 767px){
    .half-text-container{
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .half-mobile-image{
        display: inline-block;
    }
}

.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: linear-gradient(to right, white 60%, rgba(255,255,255,0) 0%);
    background-position: 0px 3px;
    background-size: 20px 3px;
    background-repeat: repeat-x;
}
.footer p{
    margin: 0;
    font-size: 15px;
}
.mjs-credit{
    font-size: 12px!important;
    font-family: 'Roboto Condensed', sans-serif;
}
.mjs-heart{
    color: #ffe101;
}

.carousel-control-prev{
    text-decoration: none;
    font-size: 40px;
}
.carousel-control-next{
    text-decoration: none;
    font-size: 40px;
}
@media (max-width : 767px){
    .carousel-control-prev{
        display: none;
    }
    .carousel-control-next{
        display: none;
    }
}

.featureBox{
    min-height: 250px;
    width: 100%;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
    background-position: center!important;
    background-size: cover!important;
    transition-duration: 0.2s;
    position: relative;
}
.featureBoxOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 10px;
    position: absolute;
    transition-duration: 0.2s;
}
.featureBoxTitle{
    padding: 30px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0));
    border-radius: 10px;
}
.featureBoxTitle p{
    color: white;
    font-size: 30px;
    font-weight: 100;
    line-height: 35px;
}
@media (max-width : 767px){
    .featureBoxTitle p{
        font-size: 25px;
        line-height: 30px;
    }
}
.featureBoxContent{
    width: 100%;
    bottom: 0;
    position: absolute;
    padding: 30px;
    opacity: 0;
    transition-duration: 0.2s;
}
.featureBoxContent p{
    color: white;
    margin-bottom: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.featureBoxContent .more{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 14px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.featureBox:hover{
    transform: translate(0px, -2px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}
.featureBox:hover .featureBoxOverlay{
    background-color: rgba(0, 0, 0, 0.5);
}
.featureBox:hover .featureBoxOverlay .featureBoxContent{
    opacity: 1;
}
.featureBox:active{
    transform: translate(0px, 2px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.footerlogo{
    width: 80%;
    padding: 0px;
}

.footer-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-menu li{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.footer-small-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-small-menu li{
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    margin-right: 20px;
}
.footer-small-menu li i{
    font-size: 30px;
}
.footer-small-menu li:last-of-type{
    margin: 0;
}
.footer-small-menu li a:hover{
    text-decoration: underline;
}
.footer .credit{
    padding-top: 50px;
}
.footer .card-logos{
    width: 80%;
    max-width: 200px;
}
.footer-darkblue{
    background: none;
    background-color: #00547b;
    color: white;
}

@media (max-width : 767px){
    .footerlogo{
        padding: 0px;
        width: 200px;
    }
    .footer .credit{
        padding-top: 50px;
    }
}

.getawayPassBox{
    width: 100%;
    padding-top: 80%;
    background-color: white;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    background-position: center!important;
    background-size: cover!important;
    transition-duration: 0.2s;
}
.getawayPassBoxNEW{
    width: 100%;
    padding-top: 80%;
    background-color: white;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-position: center!important;
    background-size: cover!important;
    transition-duration: 0.2s;
}
.getawayPassBox:hover{
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
    transform: translate(0px, -2px);
    cursor: pointer;
}
.getawayPassBox:active{
    transform: translate(0px, 2px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.getawayDiscount{
    font-weight: 900;
    font-size: 25px;
    color: #ffce00;
}

.property{
    width: 100%;
    padding-top: 80%;
    background-position: center!important;
    background-size: cover!important;
    border-radius: 10px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    transition-duration: 0.15s;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.property .main-img{
    position: absolute;
    height: 100%;
    width: 70%;
    bottom: 0;
    background-size: cover!important;
    background-position: center!important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.property .second-img{
    position: absolute;
    height: 50%;
    width: 30%;
    right: 0;
    top: 0;
    background-size: cover!important;
    background-position: center!important;
    border-top-right-radius: 10px;
}
.property .third-img{
    position: absolute;
    height: 50%;
    width: 30%;
    right: 0;
    bottom: 0;
    background-size: cover!important;
    background-position: center!important;
    border-bottom-right-radius: 10px;
}
.property .details{
    background: linear-gradient(180deg, rgba(0,191,191,0) 0%, rgba(0,0,0,0.4) 40%);
    padding: 10px;
    padding-top: 20px;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    transition-duration: 0.2s;
}
.property .details .details-icons{
    padding: 0;
    margin: 0;
    list-style: none;

}
.property .details .details-icons li{
    display: inline-block;
    margin-right: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}
.property .details p{
    margin: 0;
}
.property .infobadge{
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: white;
}
.property .infobadge-price{
    background-color: #FFCE00;
    color: rgba(0, 0, 0, 0.6);
}
.property .infobadge-price .strike{
    opacity: 0.6;
    position: relative;
}
.property .infobadge-price .strike::after{
    content: '';
    display: block;
    background-color: black;
    width: 100%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 8px;
}
.property .infobadge-discount{
    background-color: #ff2700;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    line-height: 22px;
    top: 42px;
}
.property .infobadge-sleeps{
    top: 42px;
}
.property .infobadge-photos{
    top: 79px;
    background-color: rgba(0, 0, 0, 0.3);
}
.property .infobadge-featured{
    background-color: #ff2700;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    line-height: 22px;
}
.property .details .name{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
}
.property .details .capacity{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
}
.property .details .notes{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: none;
}
.property .details .price{
    font-weight: 300;
    font-size: 20px;
    background-color: #ffce00;
    color: #2A2829;
    display: inline-block;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.property:hover{
    transform: translate(0px, -2px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
.property:hover .details .notes{
    display: block;
}
.property:active{
    transform: translate(0px, 2px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.custom-form-invalid{
    background-color: #cc2424 !important;
    color: white !important;
}
.custom-form-invalid:focus{
    background-color: #cc2424 !important;
    color: white !important;
}
.custom-form-invalid::placeholder{
    color: white;
}
.custom-form-invalid::-ms-input-placeholder{
    color: white;
}

.button-search{
    margin: 0;
    margin-top: 37px;
    margin-right: 0;
    width: 100%;
    background-color: #ffce00 !important;
    color: #2A2829 !important;
}
.button-search-home{
    margin: 0;
    margin-top: 37px;
    margin-right: 0;
    background-color: #ffce00 !important;
    color: #2A2829 !important;
    font-size: 23px;
    font-weight: 500;
    width: 40%;
}
@media (max-width : 991px){
    .button-search-home{
        font-size: 18px;
        width: 60%;
    }
}
@media (max-width : 767px){
    .button-search-home{
        font-size: 18px;
        width: 100%;
    }
}

.button-modal-done{
    margin: 0;
    background-color: #ffce00 !important;
    color: #2A2829 !important;
    box-shadow: none;
    border-radius: 5px;
}
.button-modal-close{
    margin: 0;
    background-color: #646464 !important;
    color: #ffffff !important;
    box-shadow: none;
    border-radius: 5px;
}

.search-section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bookingBox{
    margin-top: -50px;
    margin-bottom: 50px;
    background-color: #ffce00;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    color: white;
}
.bookingBox .title{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #2a2829;
    font-size: 16px;
    line-height: 16px;
}
.bookingBox p{
    color: #2a2829;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 0;
}
.bookingBox ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.bookingBox ul li{
    background-color: white !important;
    color: #2A2829 !important;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0px;
    font-weight: 300;
    transition-duration: 0.15s;
    text-decoration: none;
    outline: none;
    border-radius: 6px;
    margin-bottom: 10px;
}
.bookingBox ul li i{
    margin-right: 8px;
}
.bookingBox ul a:last-of-type li{
    margin-bottom: 0;
}

.mobileBookingBox{
    padding-top: 50px;
    padding-bottom: 50px;
}

.propertyFeatures{
    list-style: none;
    padding: 0;
}
.propertyFeatures li{
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    margin-bottom: 4px;
}
.propertyFeatures li span{
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    display: inline-block;
}
.propertyFeatures .bronze{
    background-image: linear-gradient(120deg, #f67b65 0%, #cb5a39 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    border: none;
}
.propertyFeatures .silver{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    border: none;
}
.propertyFeatures .gold{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    border: none;
}
.propertyFeatures .platinum{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    border: none;
}
.propertyFeatures .platinumplus{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    border: none;
}

.propertyGalleryImage{
    width: 100%;
    padding-top: 100%;
    background-position: center!important;
    background-size: cover!important;
    background-color: black;
    border: 0px solid #f7f7f7;
    position: relative;
    outline: none !important;
}
.propertyGalleryImage .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition-duration: 0.15s;
}
.propertyGalleryImage .overlay i{
    color: white;
    font-size: 50px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    position: relative;
}
.propertyGalleryImage:hover .overlay{
    opacity: 1;
}

.galleryLinkOverlay{
    background-color: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.galleryLinkOverlay .content{
    position: absolute;
    width: 100%;
    color: black;
    top: calc(50% - 45px);
}

.propertyInfoBadge{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    background-color: #2A2829;
    color: #fff;
    display: inline-block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.propertyInfoBadge-Price{
    background-color: #ffce00;
    color: #2A2829;
}

.groupbadge{
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
    background-color: #4b4b4b;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
}

.groupbadge-bronze{
    background-image: linear-gradient(120deg, #f67b65 0%, #cb5a39 100%);
}
.groupbadge-silver{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.groupbadge-gold{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.groupbadge-platinum{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}
.groupbadge-platinumplus{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.propertyTitleBlock{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 4px;
    display: inline-block;
}
.propertyTitleBlock h1{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 10px;
    text-shadow: none;
}
.propertyTitleBlock p{
    margin: 0;
    margin-bottom: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    line-height: 20px;
}
.propertyTitleBlock .price{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 25px;
    background-color: #ffce00;
    color: #2A2829;
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}
@media (max-width : 767px){
    .propertyTitleBlock{
        background-color: rgba(0, 0, 0, 0.6);
    }
    .propertyTitleBlock h1{
        font-size: 30px;
        line-height: 30px;
    }
}

.webdescription{
    font-family: 'Roboto Slab', serif;
}
.sc-availabilty-box{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

.homeSearch{
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.contact-form{
    padding: 30px;
    border-radius: 10px;
}

.half-half{
    display: table;
    width: 100%;
    min-height: 600px;
}
.half-half .image-half{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    background-position: center!important;
    background-size: cover!important;
}
.half-half .text-half{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 50%;
    padding: 150px;
}
.half-half .text-half img{
    width: 100%;
    display: none;
    margin-top: 50px;
}
@media (max-width : 1199px){
    .half-half .text-half{
        padding: 80px;
    }
}
@media (max-width : 767px){
    .half-half .image-half{
        display: none;
    }
    .half-half .text-half{
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 0;
        padding-right: 0;
    }
    .half-half .text-half img{
        display: block;
    }
}

.propertyNote{
    background-color: #bbefff;
    color: #185669;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.propertyNote p{
    margin: 0;
}

.caravan-modal-title{
    font-size: 30px;
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 5px;
}
.caravan-modal-price{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    background-color: #ffce00;
    color: #2A2829;
    display: inline-block;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.gallery-image{
    width: 100%;
    padding-top: 100%;
    background-size: cover!important;
    background-position: center!important;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition-duration: 0.15s;
}
.gallery-image:hover{
    transform: translate(0px, -2px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
    cursor: zoom-in;
}
.gallery-image:active{
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.propertyTester{
    background-color: red;
    width: 100%;
    margin-bottom: 10px;
    color: white;
}

.social-icons{
    padding: 0;
    list-style: none;
    margin: 0;
}
.social-icons li{
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    margin-right: 10px;
}
.social-icons li .fa-facebook{
    color: #3b5998;
}
.social-icons li .fa-instagram{
    color: #e1306c;
}

.local-attraction-box{
    background-color: black;
    width: 100%;
    padding-top: 80%;
    border-radius: 10px;
    position: relative;
}
.local-attraction-box img{
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    padding: 30px;
}

.review{
    border-bottom: 1px solid #d1d1d1;
    padding: 50px;
}
.review:last-of-type{
    border: none;
}
.review .platform-logo{
    height: 30px;
}
.review .headline{
    font-size: 25px;
    line-height: 25px;
    font-weight: lighter;
}
.review .reviewer{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 12px;
    line-height: 12px;
}
.review .reviewer-name{

    margin-bottom: 0;
}

.review .date{
    font-size: 12px;
    line-height: 12px;
}
.review .date span{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

@media (max-width : 1199px){
    .review{
        padding:20px;
    }
}

.blog-post{
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    padding: 40px;
    transition-duration: 0.2s;
    margin-bottom: 30px;
}
.blog-post img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.blog-post .title{
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 20px;
    font-weight: lighter;
}
.blog-post .date{
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}
.blog-post .summary{
    margin: 0;
}

.blog-post:hover{
    transform: translate(0px, -2px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}
.blog-post:active{
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.postTitle{
    font-family: 'Roboto Slab', serif!important;
    font-weight: lighter!important;
    font-size: 40px!important;
    line-height: 45px!important;
    margin-bottom: 10px!important;
}
.postDate{
    font-family: 'Roboto Condensed', sans-serif!important;
    font-weight: bold!important;
    font-size: 20px!important;
    line-height: 20px!important;
    margin-bottom: 10px!important;
}

.datePicker:hover{
    cursor: pointer;
}
#moreOptionsButton:hover{
    cursor: pointer;
}

.discountStrike{
    position: relative;
}
.discountStrike::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    right: 0;
    bottom: 8px;
}
.discountPrice{
    color: red;
}

.propertyAction{
    text-align: center;
    display: block;
    background-color: white;
    border: 1px solid #aaaaaa;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    transition-duration: 0.2s;
}
.propertyAction-book{
    background-color: #FFCE00;
    border: none;
    
}
.propertyAction:hover{
    color: rgba(0, 0, 0, 0.7);
    outline: none;
    transform: translate(0px, -2px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}
.propertyAction:active{
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.propertyAction .strike{
    position: relative;
    color: rgba(0, 0, 0, 0.4);
}
.propertyAction .strike::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 9px;
    left: 0;
}

.accepted-cards{
    list-style: none;
    padding: 0;
    margin: 0;
}
.accepted-cards li{
    display: inline-block;
    margin-left: 5px;
}
.accepted-cards li img{
    height: 25px;
}

.custom-modal-close{
    position: sticky;
    top: 20px;
    margin-right: -30px;
    margin-top: -30px;
    float: right;
    background-color: transparent;
    border: none;
}

.premier{
    background-image: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
}
.premier h1{
    font-family: 'Playfair Display', serif !important;
    font-weight: lighter;
}
.premier p{
    font-family: 'Raleway', sans-serif !important;
}

.essentials{
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    color: white;
}
.essentials h1{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.essentials p{
    font-family: 'Raleway', sans-serif !important;
}

.property-premier{
    width: 100%;
    padding-top: 60%;
    background-position: center!important;
    background-size: cover!important;
    border-radius: 5px;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: whitesmoke;
    transition-duration: 0.15s;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.property-premier .main-img{
    position: absolute;
    height: 100%;
    width: 65%;
    bottom: 0;
    background-size: cover!important;
    background-position: center!important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.property-premier .second-img{
    position: absolute;
    height: 50%;
    width: 35%;
    right: 0;
    top: 0;
    background-size: cover!important;
    background-position: center!important;
    border-top-right-radius: 5px;
}
.property-premier .third-img{
    position: absolute;
    height: 50%;
    width: 35%;
    right: 0;
    bottom: 0;
    background-size: cover!important;
    background-position: center!important;
    border-bottom-right-radius: 5px;
}
.property-premier .details{
    background: linear-gradient(180deg, rgba(0,191,191,0) 0%, rgba(0,0,0,0.4) 40%);
    padding: 10px;
    padding-top: 20px;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    transition-duration: 0.2s;
}
.property-premier .details .details-icons{
    padding: 0;
    margin: 0;
    list-style: none;

}
.property-premier .details .details-icons li{
    display: inline-block;
    margin-right: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
}
.property-premier .details p{
    margin: 0;
}
.property-premier .infobadge{
    position: absolute;
    left: 5px;
    top: 5px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
}
.property-premier .infobadge-price{
    background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
    color: rgba(0, 0, 0, 0.6);
}
.property-premier .infobadge-price .strike{
    opacity: 0.6;
    position: relative;
}
.property-premier .infobadge-price .strike::after{
    content: '';
    display: block;
    background-color: black;
    width: 100%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 8px;
}
.property-premier .infobadge-discount{
    background-color: #ff2700;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    line-height: 22px;
    top: 42px;
}
.property-premier .infobadge-sleeps{
    top: 42px;
}
.property-premier .infobadge-photos{
    top: 79px;
    background-color: rgba(0, 0, 0, 0.3);
}
.property-premier .details .name{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: bold;
}
.property-premier .details .capacity{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
}
.property-premier .details .notes{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 16px;
    display: none;
}
.property-premier .details .price{
    font-weight: 300;
    font-size: 30px;
    background-color: #ffce00;
    color: #2A2829;
    display: inline-block;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.property-premier:hover{
    transform: translate(0px, -2px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}
.property-premier:hover .details .notes{
    display: block;
}
.property-premier:active{
    transform: translate(0px, 2px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width : 991px){
    .property-premier{
        padding-top: 80%;
    }
    .property-premier .main-img{
        width: 70%;
    }
    .property-premier .second-img{
        width: 30%;
    }
    .property-premier .third-img{
        width: 30%;
    }
}

.top-box{
}

.events-box{
}
.events-box .title{
    width: 100%;
    color: #2a2829;
    font-size: 30px;
    font-weight: 100;
    line-height: 35px;
}
.events-box .content{
    padding-top: 0;
}

.upcoming-events{
    margin: 0;
    padding: 0;
    list-style: none;
}
.upcoming-events li{
    border: 1px solid #e0e0e0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 60px;
    position: relative;
    transition-duration: 0.2s;
}
.upcoming-events li .name{
    font-family: 'Roboto Slab', serif!important;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 5px;
}
.upcoming-events li .dates{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.6;
}
.upcoming-events li .action{
    display: block;
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: 0;
    right: 0;
}
.upcoming-events li .action i{
    left: calc(50% - 7px);
    top: calc(50% - 8px);
    position: absolute;
    transform: translate(-10px, 0px);
    opacity: 0;
    transition-duration: 0.2s;
}
.upcoming-events li:hover .action i{
    transform: translate(0px, 0px);
    opacity: 1;
}
.upcoming-events li:hover{
    transform: translate(0px, -2px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}
.upcoming-events li:active{
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}
.upcoming-events .featured{
    background-color: #ffce00;
    border: none;
}
.upcoming-events a:last-of-type li{
    margin-bottom: 0;
}
.upcoming-events .note{
    height: auto;
}
.upcoming-events .note p{
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    color: #848484;
    font-weight: lighter;
}
.upcoming-events .note:hover{
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.collection-box{
    display: table;
    width: 100%;
    height: 300px;
    background-size: cover!important;
    background-position: center!important;
    border-radius: 10px;
    transition-duration: 0.2s;
}
.collection-box .content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    padding: 30px;
}
.collection-box .title{
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 5px;
}
.collection-box .subtitle{
    font-style: italic;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 15px;
}
.collection-box .description{
    font-family: 'Roboto Slab', sans-serif;
    letter-spacing: 0px;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 30px;
}
.collection-box .action{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
}
.collection-box__essentials .title{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
}
.collection-box__premier .title{
    font-family: 'Playfair Display', serif !important;
    font-weight: lighter;
}
.collection-box:hover{
    transform: translate(0px, -2px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
}

.property-actions{
    background-color: white;
    padding: 30px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transform: translate(0px, -50px);
}

@media (max-width : 767px){
    .property-actions{
        background-color: transparent;
        padding: 15px;
        padding-top: 50px;
        box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.0);
        border-radius: 10px;
        transform: translate(0px, 0px);
    }
}

.last-minute-box{
    background-color: #ffce00;
    padding: 30px;
    border-radius: 10px;
}
.last-minute-box .button{
    margin: 0;
    background-color: #ffce00 !important;
    color: #2A2829 !important;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
.photoplayer{
    width: 100%;
    height: 600px;
}
@media (max-width : 991px){
    .photoplayer{
        height: 450px;
    }
}
@media (max-width : 767px){
    .photoplayer{
        height: 350px;
    }
}

.banner{
    padding: 30px;
    border: 2px solid #e6e6e6;
    background: whitesmoke;
    border-radius: 10px;
    margin-bottom: 30px;
}
.banner__title{
    font-size: 26px;
    line-height: 32px;
    font-weight: bolder;
}
.banner__content{
    margin-bottom: 0;
}
.banner__button{
    display: inline-block;
    background: #0092d6;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 15px;
    color: white!important;
    margin-top: 10px;
    border-radius: 4px;
}
.banner__button:hover{
    background: #007fba;
}

.banner--warning{
    background: darkred;
    color: white;
    border-color: #5c0000;
}
.banner--info{
    background: #d1eefc;
    border-color: #0092d6;
}

.banner--warning .banner__button{
    background: red;
}
.banner--warning .banner__button:hover{
    background: #ba0000;
}