body{
    color: #2A2829;
}
h1,.h1{
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
}
h2,.h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
h3,.h3{
    font-family: 'Roboto Slab', serif;
}
h4,.h4{
    font-family: 'Roboto Slab', serif;
}
h5,.h5{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h6,.h6{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
p{
    font-family: 'Roboto Slab', serif;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
p a{
    text-decoration: underline;
}

ol{
    font-family: 'Roboto Slab', serif;
    padding-left: 20px;
}
ol li{
    margin-bottom: 10px;
}