<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Page Title</title>
    <link rel="stylesheet" href="https://cdn.mjsmedia.co.uk/camber-getaways/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.mjsmedia.co.uk/camber-getaways/css/pushy.min.css">

    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Condensed:400,400i,700,700i|Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Raleway:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.mjsmedia.co.uk/camber-getaways/css/animate.min.css">
    <link rel="stylesheet" href="https://cdn.mjsmedia.co.uk/camber-getaways/css/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.mjsmedia.co.uk/camber-getaways/css/fancybox.min.css">

    <link rel="stylesheet" href="https://cdn.mjsmedia.co.uk/camber-getaways/css/static2.min.css">
</head>
<div class="container-fluid menubar fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <a href="http://cambergetaways.co.uk/">
                    <img class="logo-large" src="https://cdn.mjsmedia.co.uk/camber-getaways/assets/menulogo-large.png">
                    <img class="logo-mobile" src="https://cdn.mjsmedia.co.uk/camber-getaways/assets/menulogo-mobile.png">
                    <img class="logo-mobile-light" src="https://cdn.mjsmedia.co.uk/camber-getaways/assets/menulogo-mobile-light.png">
                </a>
                <button class="mobilemenutoggle menu-btn">Menu</button>
            </div>
            <div class="col-lg-10 d-none d-lg-block">
                <ul class="menu-items float-right">
                    <a href="http://cambergetaways.co.uk/"><li>Home</li></a>
                    <a href="http://cambergetaways.co.uk/holiday-park"><li>Camber Holiday Park</li></a>
                    <a href="http://cambergetaways.co.uk/holiday-houses"><li>Holiday Houses</li></a>
                    <a href="http://cambergetaways.co.uk/e-bikes"><li>eBikes</li></a>
                    <a href="http://cambergetaways.co.uk/contact"><li>Contact</li></a>
                    <a target="_blank" href="https://www.mystayplanner.com/cambergetaways/"><li class="guest-login"><i class="fas fa-sign-in-alt"></i> Guest Login</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="menu-spacer"></div>

<nav class="pushy pushy-left">
    <div class="pushy-content">
        <ul>
            <li class="pushy-link"><a href="http://cambergetaways.co.uk/">Home</a></li>
            <li class="pushy-link"><a href="http://cambergetaways.co.uk/holiday-park">Camber Holiday Park</a></li>
            <li class="pushy-link"><a href="http://cambergetaways.co.uk/holiday-houses">Holiday Houses</a></li>
            <li class="pushy-link"><a href="http://cambergetaways.co.uk/e-bikes">eBikes</a></li>
            <li class="pushy-link"><a href="http://cambergetaways.co.uk/contact">Contact</a></li>
            <li class="pushy-link"><a target="_blank" href="https://www.mystayplanner.com/cambergetaways/"><i class="fas fa-sign-in-alt"></i> Guest Login</a></li>
        </ul>
    </div>
</nav>
<div class="site-overlay"></div>

<div class="container-fluid page-section">
    <div class="container">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
        <p><a href="#">Lorem ipsum dolor sit amet</a>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>

<div class="container-fluid footer background-blue">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 text-center text-md-left">
                <ul class="footer-menu">
                    <a href="http://cambergetaways.co.uk/holiday-park/search?caravan=1"><li>Caravans</li></a>
                    <a href="http://cambergetaways.co.uk/holiday-park/search?mini-lodge=1&full-lodge=1"><li>Lodges</li></a>
                    <a href="http://cambergetaways.co.uk/holiday-park/search?chalet=1"><li>Chalets</li></a>
                    <a href="http://cambergetaways.co.uk/holiday-houses/search"><li>Holiday Houses</li></a>
                </ul>
            </div>
            <div class="col-12 col-md-3 text-center text-md-left">
                <ul class="footer-menu">
                    <a href="http://cambergetaways.co.uk/caravans"><li>Caravans for Sale</li></a>
                    <a href="http://cambergetaways.co.uk/local-attractions"><li>Local Attractions</li></a>
                    <a href="http://cambergetaways.co.uk/e-bikes"><li>e-Bike Hire</li></a>
                    <a href="http://cambergetaways.co.uk/dog-friendly"><li>Dog Friendly</li></a>
                </ul>
            </div>
            <div class="col-12 col-md-3 text-center text-md-left">
                <ul class="footer-menu">
                    <a href="http://cambergetaways.co.uk/owners"><li>Owners</li></a>
                    <a href="http://cambergetaways.co.uk/blog"><li>Blog</li></a>
                    <a href="http://cambergetaways.co.uk/reviews"><li>Reviews</li></a>
                    <a href="http://cambergetaways.co.uk/contact"><li>Contact us</li></a>
                </ul>
            </div>
            <div class="col-12 col-md-3 mt-4 mt-md-0 text-center text-md-right">
                <a href="http://cambergetaways.co.uk/">
                    <img class="footerlogo" src="/assets/footerlogo-light.png">
                </a>
            </div>
        </div>
        <div class="row credit">
            <div class="col-12 col-md-8 text-center text-md-left mb-4">
                <ul class="footer-small-menu">
                    <li><a href="http://cambergetaways.co.uk/terms">Terms and Conditions</a></li>
                    <li><a href="http://cambergetaways.co.uk/policies/privacy">Privacy Policy</a></li>
                    <li><a href="http://cambergetaways.co.uk/policies/cancelation">Cancelation / Refund Policy</a></li>
                    <li><a href="http://cambergetaways.co.uk/policies/delivery">Delivery Policy</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 text-center text-md-right">
                <ul class="footer-small-menu">
                    <li><a target="_blank" href="https://www.facebook.com/Cambergetaways/"><i class="fab fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/cambergetaways/"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer footer-darkblue">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 text-center text-md-left mb-4">
                <p>Copyright &copy; Camber Getaways</p>
            </div>
            <div class="col-12 col-md-6 text-center text-md-right">
                <img class="card-logos" src="https://cdn.mjsmedia.co.uk/camber-getaways/assets/card-logos.png">
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.mjsmedia.co.uk/camber-getaways/js/jquery-3.2.1.min.js"></script>
<script src="https://cdn.mjsmedia.co.uk/camber-getaways/js/jquery-ui.js"></script>
<script src="https://cdn.mjsmedia.co.uk/camber-getaways/js/popper.min.js"></script>
<script src="https://cdn.mjsmedia.co.uk/camber-getaways/js/bootstrap.min.js"></script>
<script src="https://cdn.mjsmedia.co.uk/camber-getaways/js/pushy.min.js"></script>
<script src="https://cdn.mjsmedia.co.uk/camber-getaways/js/flatpickr.min.js"></script>
<script src="https://cdn.mjsmedia.co.uk/camber-getaways/js/fancybox.min.js"></script>

<script src="https://cdn.mjsmedia.co.uk/camber-getaways/js/scrollreveal.min.js"></script>
<script>
    window.sr = ScrollReveal();
    sr.reveal('.scrollReveal',{scale:1});
</script>

<script src="https://cdn.mjsmedia.co.uk/camber-getaways/js/navbarScroll.min.js"></script>