.navbar-toggler{
    border: none;
}
.dashboardButton{
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.dashboardButton:hover{
    background-color: #3D6FDD;
}
.dashboardButton h1{
    margin: 0;
    text-decoration: none;
}
.dashboardButton p{
    margin: 0;
    text-decoration: none;
}
.dashboardButtonLink{
    text-decoration: none !important;
    color: #292b2c;
}
.dashboardButtonLink:hover{
    color: white;
}

.graphiteTitleField{
    font-size:18pt;
    border-left:none;
    border-top:none;
    border-right:none;
    padding-left:0;
    border-radius: 0;
}
.graphiteAuthorField{
    font-size:14pt;
    border-left:none;
    border-top:none;
    border-right:none;
    padding-left:0;
    border-radius: 0;
    padding-top: 15px;
}

.dashboardItem{
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-size: cover !important;
    margin-bottom: 30px;
    background-color: #dddddd !important;
    transition-duration: 0.3s;
}
.dashboardItemDetails{
    position: absolute;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 13pt;
}
.slim{
    border-radius: 4px;
}